@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600;800&family=Oswald:wght@300;400;600;700&family=Titillium+Web:wght@300;400;600;700&display=swap');

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainInfoContainer {
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
}